---
const { title, portraitImage, description1, description2, videoUrl, assetsLoad, filmSide, backgroundColor, textColor } = Astro.props;
const isVideoLeft = filmSide === 'left';
---


<section class="section-film" style={`background: ${backgroundColor ?? '#555'}; color: ${textColor ?? '#fff'};`}>
    <h2>{title}</h2>
    <div class={`content-columns ${filmSide ? 'video-left' : 'video-right'}`}>
      {isVideoLeft ? (
        <>
          <div class="embeded-video">
            <iframe
              width="560"
              height="315"
              src={videoUrl}
              title="Video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              loading={assetsLoad}
            />
          </div>
          <div class="description">
            <p>{description1}</p>
            <p>{description2}</p>
            <div class="film-buttons">
                <a class="button" href="/">Voir le film</a>
            </div>
          </div>
          <div class="portrait-imagge">
            <img src={portraitImage} loading={assetsLoad} alt="Portrait" />
          </div>
        </>
      ) : (
        <>
          <div class="portrait-imagge">
            <img src={portraitImage} loading={assetsLoad} alt="Portrait" />
          </div>
          <div class="description">
            <p>{description1}</p>
            <p>{description2}</p>
          </div>
          <div class="embeded-video">
            <iframe
              width="560"
              height="315"
              src={videoUrl}
              title="Video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen
              loading={assetsLoad}
            />
          </div>
        </>
      )}
    </div>
  </section>

<style>
    .section-film {
        padding: 10px 40px;
        padding-bottom: 30px;
        max-width: 1200px;
        margin: 20px auto;
        border-radius: 8px;
    }

    .content-columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        align-items: flex-start;
    }

    .portrait-imagge {
        text-align: center; 
        width: 200px;
        flex-shrink: 0; /* Prevent shrinking */
    }

    .portrait-imagge img {
        max-width: 100%;
        height: 100%;
        height: 315px;
        border-radius: 8px;
    }

    .description {
        flex: 1;
        min-width: 0; /* Prevent overflow due to long unbroken content */
        overflow-wrap: break-word;
        height: 315px;
    }

    .embeded-video {
        width: 560px;
        max-width: 100%;
        flex-shrink: 0;
    }

    .embeded-video iframe {
        width: 100%;
        height: 315px;
        border-radius: 8px;
    }

    p {
        line-height: 1.6;
    }

    .film-buttons {
        margin-top: 10px;
    }

    .button {
        display: inline-block;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        background-color: #333;
        border-radius: 5px;
    }

    /* If media screen is less than 768px, stack the columns */
    @media (max-width: 768px) {
        .content-columns {
            display: block;
        }

        .portrait-imagge {
            display: none;
        }

        .description {
            height: min-content;
            margin-bottom: 15px;
        }
        
        .embeded-video {
            width: auto;
            text-align: center;
        }
    }
</style>